.curseclient
defaultconfigs/
essential/
journeymap/
local/
logs
minecraftinstance.json
mods/
options.txt
patchouli_data.json
rhino.local.properties
saves/
screenshots/
servers.dat
servers.dat_old
servers.essential.dat
test/
crash-reports/
usercache.json
usernamecache.json
config/roughlyenoughitems/
resourcepacks/
config/roughlyenoughitems/pinyin.properties
hotbar.nbt
config/oculus.properties
config/fastload.properties
ops.json
whitelist.json
